.TodoItem{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;
    font-size: 24px;
    color: rgb(15, 15, 15);

    border-bottom: 1px solid #bebebe ;
    padding: 10px 5px;
    display: flex;
}

.TodoItem:last-child{
    border-bottom: none;
}

.TodoItem >p{
    margin: 0 0 0 10px;
}

.TodoItem-complete >p {
    text-decoration:line-through;
    opacity: .3;
}